td{
    color:rgba(183, 66, 66, 0.62);
}

h1{
    color: red !important;
}
h1{ color: rebeccapurple;
    background-color:beige;   
}
p{
    font-family: DFKai-SB,BiauKai,arial;
    font-size: 20px;
    font-weight:900;
}